<footer class="index_footer_container">
        
    <div class="index_footer_cajas">
        <h4>¿Cuáles son los factores que influyen en el tiempo de entrega de un carro nuevo en</h4>Orange F
            <i class="fa-brands fa-firefox"></i>X?</h4>
            <p>Son varios los factores que influyen en el tiempo de entrega de un carro nuevo, entre ellos: disponibilidad del vehículo, color, transporte del mismo, tramites de matrícula, desembolso del valor del vehículo, tipo de crédito con el que se compra el vehículo o retomas.</p>
    </div>
        <div class="index_footer_cajas">
            <ul>
                <div>
                    <p><i class="fa-solid fa-envelope"></i> orangefox@orangeFox.com</p>
                </div>
                <div>
                    <p><i class="fa-brands fa-facebook"></i> Orangefox</p>
                </div>
                <div>
                    <p><i class="fa-brands fa-instagram-square"></i> Orangefox_col</p>
                </div>
            </ul>
        </div>
    
    <div class="index_footer_cajas">
        <img class="index_footer_mapa"src="/img/mapa.jpeg" alt="mapa">
    </div>
        <div class="index_footer_cajas">
            <img src="/img/LOGO7.png" alt="LOGO7">
        </div>
    </div>
    
    
    
    
</footer>