<header class="index_header" >
    <div class="container">
       <!--  <div class="forma_logo">
            Orange F
            <i class="fa-brands fa-firefox"></i>X
        </div> -->
        <div class="index_logo">
            <img  src="/img/LOGO7.png" alt="logo3">
        </div>
    </div>
    
</header>
<div class="index_menu_header">

    <div class="index_header_iconos">
        <i class="fa-solid fa-address-card"></i>
        <i class="fa-solid fa-right-to-bracket"></i>
    </div>

    <div class="burger-menu">
    <i class="fas fa-bars"></i>
    </div> 

    <div class="index_header_vinculos">
        <div class="index_header_vinculos_caja1">
            <a class="resaltado" href="productCart">Detalle Vehiculo</a>
            <a  class="resaltado"href="#"> Cita Taller</a>
            <a class="resaltado"href="#"> Carrito</a>
            <a  class="resaltado"href="productDetail"> Lista de Vehiculos </a>
            <a  class="resaltado"href="login"> Ingresar </a>
            <a  class="resaltado"href="register"> Registrate </a>
        </div>
        <div class="index_header_vinculos_caja2">
            <form class="index_header_vinculos">
                <input class="index_header_vinculos_input" type="text" placeholder="Buscar vehiculos">
                <button class="index_header_vinculos_button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
    
</div>