<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body >
<%- include("./partials/header") %>
    <main>
        <section>
            <article class="index_banner1" >
                <img  src="/img/car9.jpg">
                <a href="#"><p>Descubre la experiencia de la evolcion</p></a>
            </article>
        </section>

<nav class="index_nav_container">
            <section class="index_section_article_caja">
                <article> 
                    <div class="wrap1">
                        <div class="wrap-text">
                            <h1>Texto Superpuesto</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis incidunt consequatur nam adipisci quae sint temporibus eligendi atque aspernatur.</p>
                            <button>CONOCE MÁS</button>
                        </div> 
                </article>
            </section>

            <div class="wrap-text-descktop">
                <h1>Texto Superpuesto</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis incidunt consequatur nam adipisci quae sint temporibus eligendi atque aspernatur.</p>
                <button>CONOCE MÁS</button>
            </div>
    
            <section class="index_section_article_caja">
                <article>

                    <div class="wrap2">
                        <div class="wrap-text">
                            <h1>Texto Superpuesto</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis incidunt consequatur nam adipisci quae sint temporibus eligendi atque aspernatur.</p>
                            <button>CONOCE MÁS</button>
                        </div>
                         
                </article>

            </section >
            <div class="wrap-text-descktop">
                <h1>Texto Superpuesto</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis incidunt consequatur nam adipisci quae sint temporibus eligendi atque aspernatur.</p>
                <button>CONOCE MÁS</button>
            </div>
            <section class="index_section_article_caja">
                <article>   
                    <div class="wrap3">
                        <div class="wrap-text">
                            <h1>Texto Superpuesto</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis incidunt consequatur nam adipisci quae sint temporibus eligendi atque aspernatur.</p>
                            <button>CONOCE MÁS</button>
                        </div>  
                </article>
            </section>

            <div class="wrap-text-descktop">
                <h1>Texto Superpuesto</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis incidunt consequatur nam adipisci quae sint temporibus eligendi atque aspernatur.</p>
                <button>CONOCE MÁS</button>
            </div>
</nav>







        <section> 
        <H2 class="index_marca_h2">Nuestra alianza con Marcas</H2>                       
        <article class="marcas_container">
            
            <ul class="marca_caja">
                <li><a href=""><img src="/img/MARCA1.PNG" ></a></li>
            </ul>
            <ul class="marca_caja">
                <li><a href=""><img src="/img/MARCA2.PNG"></a></li>
            </ul>
            
            <ul class="marca_caja">
                <li><a href=""><img src="/img/MARCA3.PNG"></a></li>
            </ul>
            <ul class="marca_caja">
                <li><a href=""><img src="/img/MARCA5.PNG"></a></li>
            </ul>
            <ul class="marca_caja">
                <li><a href=""><img src="/img/MARCA4.PNG"></a></li>
            </ul>
        </article>

        </section>




    </main>
    <%- include("./partials/footer") %>

  
    
</body>
</html>