<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>

    <%- include("./partials/header") %>

    <!-- Formulario - Login -->
        <div class="form-formulario1">
            <form action="login.html" method="post">
                <p class="form-linea1">
                    <label>Nombre de usuario :</label>
                    <input 
                        type="text" 
                        name="nombreUsuario"
                        pattern="[a-z\d\.]{6,15}"
                        title="El Nombre de usuario no puede contener mayusculas ni caracteres especiales
                                / El Nombre de usuario recibe minio 6 hasta 15 caracteres"
                        id="username"
                        required
                        >
                </p>
                <p class="form-linea1">
                    <label>Contraseña :</label>
                    <input type="password" name="password1" required>
                </p> <br>

                
                <button class="form-button-ingresar" type="submit">Enviar</button>

                <button class="form-button-ingresar">
                     <a href="/">Home</a> 
                </button>

            </form>
        </div>

    <%- include("./partials/footer") %>
     
</body>
</html>