<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>
<link href="/css/stylesDetail.css" rel="stylesheet"> 

  <body>

    <%- include("./partials/header") %>

      <main>

        <div class="contenido-textos">
          <img src="img/mazda blanco.jpg" alt="" class="imagen-about-us">
          <div class="text">
            <h1>Mazda</h1>
            <p class="Descripcion">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, harum corporis. Recusandae
            delectus earum voluptatibus natus doloremque nesciunt ab odit
            </p>
            <p class="Precio"></p>
            <h2>98.587.697</h2>
            <p class="Colores"></p>
            <h2>Colores</h2>
            <a href="#" class="btn">Rojo</a>
            <a href="#" class="btn">Blanco</a>
            <a href="#" class="btn">Negro</a>
            <a href="#" class="btn">Gris</a>
            
          </div>
        </div>
        <div class="btn-home">
          <a href="#" class="btn">Comprar</a>
          <a href="#" class="btn">Eliminar compra</a>
          
      </div>

      </main>
      <script src="js/ver_carrito.js"></script>



      <%- include("./partials/footer") %>

  </body>

</html>